
<%-include("../layouts/admin/sideBar.ejs")-%>
<%-include("../layouts/admin/adminHeader.ejs")-%>
<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
      
        <a href="/admin/addcoupon"><button class=" btn btn-primary btn-md mt-5 ">Add Coupon+</button></a>  
        <div class="table-responsive mt-3 ">
          <table class="table table-dark text-white" >
            <thead >
              <tr>
                <th  class="text-white">Coupon Name</th>
                <th  class="text-white">Min purchase</th>
                <th class="text-white"> Max discount</th>
                <th class="text-white">Exp date</th>
                <th  class="text-white">ACTION</th>
              </tr>
              <%coupons.forEach((cp)=>{%>
               
                <tr id="couponRow_<%= cp._id %>">
                  <td><%=cp.couponName%></td>
                  <td><%=cp.minimumPurchase%></td>
                  
                  <td><%=cp.maximumDiscount%></td>
                  <td><%= new Date(cp.lastDate).toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric" }) %></td>
                  <td><a href="/admin/editcoupon?id=<%=cp._id%>" class="btn btn-primary">edit</a></td>
                     <% if(cp.showStatus){ %>
                      <td><button onclick="Action('<%=cp._id%>')" class="btn btn-primary">Hide</button></td>

                   <%}else{ %>
                    <td><button onclick="Action('<%=cp._id%>')" class="btn btn-danger">Unhide</button></td>
                  <% } %>
                 
                  
             
                </tr>    
          
           <%})%>
             
           
            </thead>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
    function Action(cpid) {
        $.ajax({
            url: `/admin/updatecouponstatus?cpid=${cpid}`,
            type: 'GET',
            success: function(response) {
                // Assuming response contains the updated showStatus
                // Update the button text based on the updated showStatus
                var button = $('#couponRow_' + cpid).find('button');
                if (response.showStatus) {
                    button.text('Hide');
                } else {
                    button.text('Unhide');
                }
            }
        });
    }


</script>

  
  <%-include("../layouts/admin/adminFooter.ejs")-%>