<%-include("../layouts/admin/sideBar.ejs")-%>
<%-include("../layouts/admin/adminHeader.ejs")-%>
<div class="content-wrapper ">
  <div class="row">
    <div class="col-sm-12 grid-margin mt-5">
      <div class="card">
        <div  id="chart" style="color: black;">
 <input id="online" type="hidden" name="online" value="<%=onlinePaymentCount%>">
 <input id="cash" type="hidden" name="cash" value="<%=cashCount%>">
        </div>
      </div>
    </div>
  </div>


<div class="row">
  <div class="col-sm-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>Total Revenue</h5>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0">₹<%=Total%></h2>
            
            </div>
          
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>Monthly Revenue</h5>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0">₹<%=Total%></h2>
             
            </div>
          
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>Sales</h5>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0">₹<%=totalSales%></h2>
            
            </div>
            
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  function pageLoad(){
    let online = document.getElementById('online').value
  let cash = document.getElementById('cash').value
  var options = {
  series: [6, 2],
  chart: {
    width: 480,
    type: 'pie',
  },
  labels: ['Cash', 'Online payment'],
  plotOptions: {
    pie: {
      startAngle: 0,
      endAngle: 360,
      donut: {
        size: '65%', // You can adjust the size of the donut hole
      },
    },
  },
  responsive: [{
    breakpoint: 480,
    options: {
      chart: {
        width: 200
      },
      legend: {
        position: 'bottom'
      }
    }
  }],
};

var chart = new ApexCharts(document.querySelector("#chart"), options);
chart.render();

  }
 window.onload = pageLoad()
      
    
</script>
<%-include("../layouts/admin/adminFooter.ejs")-%>