C<%-include("../layouts/admin/sideBar.ejs")-%>
<%-include("../layouts/admin/adminHeader.ejs")-%>
<div class="content-wrapper ">
  <div class="row">
    <div class="col-sm-12 grid-margin mt-5 col-lg-6">
      <div class="card" style="height: 25rem;">
        <div class="m-5"  id="piechart" style="color: black; ">
 <input id="online" type="hidden" name="online" value="<%=onlinePaymentCount%>">
 <input id="cash" type="hidden" name="cash" value="<%=cashCount%>">
        </div>
      </div>
    </div>

      <div class="col-sm-12 grid-margin mt-5 col-lg-6">
        <div class="card" style="height: 25rem;">
          <div  id="barchart" style="color: black;">
   
          </div>
        </div>
      </div>
   
  </div>



<div class="row">
  <div class="col-sm-6  col-md-6 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>Total Revenue</h5>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8   my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0">₹<%=Total%></h2>
            
            </div>
          
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg mdi mdi-trending-up text-primary ml-auto"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>Monthly Revenue</h5>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0">₹<%=Total%></h2>
             
            </div>
          
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg  mdi mdi-trending-up text-success ml-auto"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>Sales</h5>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8  my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0"><%=totalSales%></h2>
            
            </div>
            
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg text-primary ml-auto mdi mdi-briefcase" ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 grid-margin col-md-6">
    <div class="card">
      <div class="card-body">
        <h5>Users</h5>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h2 class="mb-0"><%=users.length%></h2>
            
            </div>
            
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg text-warning ml-auto mdi mdi-account-group" ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input id="jan" type="hidden" name="jan" value="<%=monthlySalesArr[0]%>">
        <input id="feb" type="hidden" name="feb" value="<%=monthlySalesArr[1]%>">
        <input id="mar" type="hidden" name="mar" value="<%=monthlySalesArr[2]%>">
        <input id="apr" type="hidden" name="apr" value="<%=monthlySalesArr[3]%>">
        <input id="may" type="hidden" name="may" value="<%=monthlySalesArr[4]%>">
        <input id="jun" type="hidden" name="jun" value="<%=monthlySalesArr[5]%>">
        <input id="jul" type="hidden" name="jul" value="<%=monthlySalesArr[6]%>">
        <input id="aug" type="hidden" name="aug" value="<%=monthlySalesArr[7]%>">
        <input id="sep" type="hidden" name="sep" value="<%=monthlySalesArr[8]%>">
        <input id="oct" type="hidden" name="oct" value="<%=monthlySalesArr[9]%>">
        <input id="nov" type="hidden" name="nov" value="<%=monthlySalesArr[11]%>">
        <input id="dec" type="hidden" name="dec" value="<%=monthlySalesArr[12]%>">

</div>
<script>
  function pageLoad(){
    var jan = document.getElementById("jan").value,
    feb = document.getElementById("feb").value,
    mar = document.getElementById("mar").value,
    apr = document.getElementById("apr").value,
    may = document.getElementById("may").value,
    jun = document.getElementById("jun").value,
    jul = document.getElementById("jul").value,
    aug = document.getElementById("aug").value,
    sep = document.getElementById("sep").value,
    oct = document.getElementById("oct").value,
    nov = document.getElementById("nov").value,
    dec = document.getElementById("dec").value;
    ;
    let online = document.getElementById('online').value
  let cash = document.getElementById('cash').value


 

// Declare variables for each input element using a single line per variable

  
// Now, you can use these variables to work with the input elements

// Calculate the percentages
var total = online + cash;
var onlinePercentage = (online / total) * 100;
var cashPercentage = (cash / total) * 100;
  
  
var options = {
    series: [onlinePercentage, cashPercentage],
    chart: {
        width: 380,
        type: 'pie',
    },
    labels: ['Online Payment', 'Cash'],
    plotOptions: {
        pie: {
            dataLabels: {
                offset: 0 // Set the offset to 0 to position the labels outside the pie chart
            }
        }
    },
    legend: {
        show: true, // Display the legend
        labels: {
            colors: 'white' // Set the legend text color to white
        }
    },
    responsive: [
        {
            breakpoint: 480,
            options: {
                chart: {
                    width: 200
                },
                legend: {
                    position: 'bottom'
                }
            }
        }
    ]
};

var chart = new ApexCharts(document.querySelector("#piechart"), options);
chart.render();

      
        
      
      
        var options = {
          series: [  {
          name: 'Monthly sales',
          data: [jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec]
        }],
          chart: {
          type: 'bar',
          height: 350
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '55%',
            endingShape: 'rounded'
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          show: true,
          width: 2,
          colors: ['transparent']
        },
        xaxis: {
          categories: ['Jan','Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct','Nov','Dec'],
        },
        yaxis: {
          title: {
            text: 'Monthly Sales',
            style : {
              color : "white",
              fontSize : "25px"
            }
          },
          
        
        },
        fill: {
          opacity: 1
        },
        tooltip: {
          y: {
            formatter: function (val) {
              return   val 
            }
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#barchart"), options);
        chart.render();
      
      
      
      
  }

 window.onload = pageLoad()


 


    
</script>
<%-include("../layouts/admin/adminFooter.ejs")-%>
