<%-include("../layouts/admin/sideBar.ejs")-%>
  <%-include("../layouts/admin/adminHeader.ejs")-%>
    <% function formatDate(dateString) { %>
      <% const date=new Date(dateString); %>
        <% const day=date.getDate(); %>
          <% const month=date.toLocaleString('en-US', { month: 'short' }); %>
            <% const year=date.getFullYear(); %>
              <%= `${day} ${month} ${year}` %>
                <% } %>\
                  <div class="main-panel">
                    <div class="content-wrapper">
                      <div class="col-lg-12">
                        <div class="card">
                          
                          <div class="card-body">
                            <h1 class="text-center">
                              <span class="mdi mdi-tag text-primary"></span>Offer
                            </h1>
                            <a href="/admin/addoffer"><button type="button" class="btn btn-outline-success btn-icon-text pr-4">
                              <i class="mdi mdi-upload btn-icon-prepend"></i>Add</button></a>
                            <!-- <a href="/admin/addoffer"><button class=" btn btn-primary btn-md mt-5 ">Add
                                Offer+</button></a> -->
                            <div class="table-responsive mt-3 ">
                              <table class="table  text-white">
                                <thead>
                                  <tr>

                                    <th class="text-white">Name</th>
                                    <th class="text-white">Activation Date</th>
                                    <th class="text-white"> Exp Date</th>
                                    <th class="text-white">Offer Amount</th>
                                    <th class="text-white">Status</th>
                                    <th class="text-white">ACTION</th>
                                  </tr>


                                  <%offer.forEach((offer)=>{%>
                                    <tr>
                                      <td>
                                        <%=offer.name%>
                                      </td>
                                      <td>
                                        <%= formatDate(offer.activationDate) %>
                                      </td>
                                      <td>
                                        <%= formatDate(offer.expiryDate) %>
                                      </td>
                                      <td>
                                        <%=offer.discountAmount%>
                                      </td>
                                      <td>
                                        <%=offer.is_blocked%>
                                      </td>
                                      <td><a href=""><button class=" btn btn-warning btn-sm" data-toggle="modal"
                                            data-target="#edit" type="button">edit</button></a>


                                        <a href=""><button class="btn btn-danger btn-sm ml-2">List</button></a>

                                        <a href=""><button class="btn btn-success btn-sm ml-2">Unlist</button></a>

                                      </td>
                                    </tr>
                                    <% })%>


                                </thead>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <%-include("../layouts/admin/adminFooter.ejs")-%>