<%-include("../layouts/admin/sideBar.ejs")-%>
<%-include("../layouts/admin/adminHeader.ejs")-%>


<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
      
      
        <div class="table-responsive mt-5">
          <table class="table table-dark text-white" >
            <thead >
              <tr>
                <th  class="text-white">S_NO</th>
                <th  class="text-white">ORDER_ID</th>
                <th class="text-white">Name</th>
          <th>DATE</th>
                
               
                <th>STATUS</th>
                <th>Action</th>
                <th>DETAILS</th>
             
              </tr>
            <% orderData.forEach((info,index)=>{ %>
            <tr>
    <td><%=index + 1%></td>
    <td><%=info.uniqueId%></td>
    <td><%=info.userName%></td>
    
    <td><%= new Date(info.date).toLocaleString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' }) %></td>
   
 
               <td>
                <% if (info.status === "cancelled") { %>
                  <label class="badge badge-danger"><%=info.status%></label>
                  <% } %>
                <% if (info.status === "placed") { %>
                  <a href="/admin/updatestatus?statusid=<%=info._id%>"><button class="btn - btn-primary">Shipped</button></a>
                <% } else if (info.status === "shipped") { %>
<a href="/admin/updatestatus?statusid=<%=info._id%>"><button class="btn - btn-primary">Out for delivery</button></a>
                <% } else if(info.status === "out for delivery"){ %>
                  <a href="/admin/updatestatus?statusid=<%=info._id%>"><button class="btn - btn-primary">Delivered</button></a>

                  <% } else if (info.status === "delivered") { %>
                    <label class="badge badge-success"><%=info.status%></label>

                <% } %>
                

               </td>
               <% if (info.status == "cancelled") { %>
            <td></td>
              <% } else if (info.status === "delivered") { %>
              <td></td>
              <% } else { %>
                <td><a href="/admin/cancel?cancelid=<%=info._id%>"><button class="btn btn-warning">Cancel</button></a></td>
              <% } %>
              
              
               <td><a href="/admin/viewdetails?id=<%=info._id%>">view details</a></td>
                
                </tr>
                    <%  }) %>
         
            </thead>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<%-include("../layouts/admin/adminFooter.ejs")-%>