<%-include("../layouts/admin/sideBar.ejs")-%>
  <%-include("../layouts/admin/adminHeader.ejs")-%>

    <div class="main-panel">
      <div class="content-wrapper">
    
          <div class="row d-flex justify-content-center">
            <div class="ccol-lg-8" >
              <!-- Details -->
              <div class="card mb-4">
                <div class="card-body">
                  <div class="mb-3 d-flex justify-content-between">
                    <div>
      
                      <span class="me-3">#<%=orderDetails.uniqueId%></span>
                     
                      
                    </div>
                    
                  </div>
                  <table class="table table-borderless">
                    <tbody>
                      <%orderDetails.products.forEach((details)=>{%>
                        <tr>
                          <td>
                            <div class="d-flex mb-2">
                              <div class="flex-shrink-0">
                                <img src="/product/img/<%=details.productId.image.image1%>" alt="" width="35" class="img-fluid">
                              </div>
                              <div class="flex-lg-grow-1 ms-3">
                                <h6 class="small mb-0"> <a style="text-decoration: none;" class="text-reset" ><%=details.productId.name%></a></h6>
                                <!-- <h6 class="small mb-0"><a style="text-decoration: none;" class="text-reset">Qty : <%=details.count%></a></h6> -->
                              </div>
                            </div>
                          </td>
                          <td><%=details.count%></td>
      
                          <td class="text-end">₹<%=details.productId.price%></td>
                        </tr>
                      <%})%>
                      
                      
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="2">Subtotal</td>
                        <td class="text-end">₹<%=orderDetails.totalAmount%></td>
                      </tr>
                      <tr>
                        <td colspan="2">Shipping</td>
                        <td class="text-end">₹0</td>
                      </tr>
                     <input id="orderId" type="hidden" value="<%=orderDetails._id%>">
                      <tr class="fw-bold">
                        <td colspan="2">TOTAL</td>
                        <td class="text-end">₹<%=orderDetails.totalAmount%></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <!-- Payment -->
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <h3 class="h6">Payment Method</h3>
                      <p><%=orderDetails.paymentMethod%><br>
                      Total: ₹<%=orderDetails.totalAmount%> 
                      
                      <%if(orderDetails.status == "pending"){%>
                        <span class="badge bg-warning rounded-pill">Pending</span></p>
                       <%}else{%>
                       
                        <span class="badge bg-success rounded-pill">PAID</span></p>
                       <%}%>
                    </div>
                    <div class="col-lg-6">
                      <h3 class="h6">Billing address</h3>
                      <address>
                        <strong><%=orderDetails.deliveryDetails.fullname%></strong><br>
                        <%=orderDetails.deliveryDetails.houseName%><br>
                        <%=orderDetails.deliveryDetails.city%>, <%=orderDetails.deliveryDetails.pin%><br>
                         <%=orderDetails.deliveryDetails.mobile%>
                      </address>
                    </div>
                  </div>
        </div>
      </div>
    </div>
   





    <%-include("../layouts/admin/adminFooter.ejs")-%>