
<%-include("../layouts/admin/sideBar.ejs")-%>
<%-include("../layouts/admin/adminHeader.ejs")-%>
<div class="main-panel">
  <div class="content-wrapper">
<div class="col-lg-10 ">
  
    <div class="card">
      
      <div class="card-body">
        <h1 class="text-center"><span class="mdi mdi-account-group text-primary"></span>
          Users
         </h1>
        
        <div class="table-responsive text-white mt-5" >
          <table class="table  text-white">
            <thead>
              <tr>
               
                <th class="text-white"> Name </th>
                <th class="text-white">  Email </th>
                <th class="text-white">Action</th>
              </tr>
            </thead>
            <tbody>
                <tr>   
                <%data.forEach((user)=>{ %>
                    <td> <%= user.username %></td>
                    <td><%= user.email %></td>
                    <% if (user.blocked == true) { %>
                        <td><a href="/admin/unblock?id=<%=user._id%>"><button class="btn btn-outline-warning  ">Unblock</button></a></td>
                      <% } else { %>
                        <td><a href="/admin/block?id=<%=user._id%>"><button class="btn btn-outline-danger">Block</button></a></td>
                      <% } %>
                    
                  </tr>
                <%}); %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
  <%-include("../layouts/admin/adminFooter.ejs")-%>