<%- include("../layouts/user/userHeader.ejs")-%>
    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container-fluid">
                <h1 class="page-title"><span>Shop</span></h1>
            </div><!-- End .container-fluid -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container-fluid">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                   
                </ol>
            </div><!-- End .container-fluid -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container-fluid">
                <div class="toolbox">
                    <div class="toolbox-left">
                        <a href="#" class="sidebar-toggler"><i class="icon-bars"></i>Filters</a>
                    </div><!-- End .toolbox-left -->

                    <div class="toolbox-center">
                        <div class="toolbox-info">
                            <!-- Showing <span>12 of 56</span> Products -->
                        </div><!-- End .toolbox-info -->
                    </div><!-- End .toolbox-center -->

                    <div class="toolbox-right">
                        <div class="toolbox-sort">

                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Sort by
                                </button>
                                <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item h6" href="/shop?id=1">Low-High</a>
                                    <a class="dropdown-item h6" href="/shop?id=-1">Hight-Low</a>

                                </div>
                            </div>
                        </div><!-- End .toolbox-sort -->
                    </div><!-- End .toolbox-right -->
                </div><!-- End .toolbox -->

                <div class="products">
                    <div class="row">
                        <% product.forEach((product)=>{%>
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                                <div class="product">
                                    <%if(product.category.offer &&  product.category.offer.expiryDate > new Date() ){%>
                                        <span class="product-label label-sale"><%=product.category.offer.discountAmount%>% off</span>
                                       <% }%>
                                    <figure class="product-media">

                                        <a href="product.html">
                                            <img src="product/img/<%=product.image.image1%>" alt="Product image"
                                                class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <%if(wishListStrin.includes(product._id.toString())){ %>
                                                <a  onclick="Wishlist('<%=product._id%>')"><i class="fa-solid fa-heart"></i></a>
                                          <%  }else{ %>
                                         <a onclick="Wishlist('<%=product._id%>')"> <i class="fa-regular fa-heart"></i></a>  
                                        <%  } %>
                                        </div><!-- End .product-action -->

                                        <div class="product-action action-icon-top">
                                            <a style="cursor: pointer; " onclick="addToCart('<%=product._id%>')" 
                                                class="btn-product btn-cart"><span>add to cart</span></a>

                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">

                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="/productdetails?id=<%=product._id%>">
                                                <%=product.name%>
                                            </a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            <%=product.price%>
                                        </div><!-- End .product-price -->
                                        


                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->


                            <% }) %>













                    </div><!-- End .row -->


                    <nav aria-label="Page navigation example border  ">
                        <ul class="pagination d-flex justify-content-center ">
                            <li class="page-item">
                                <%if(pageNum==1){%>

                                    <% }else{%>
                                        <a class="page-link" href="/shop?page=<%=pageNum-1%>" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <% }%>

                            </li>

                            <% for(let i=1; i <=pages; i++){%>
                                <%if(pageNum == i){%>
                                    <li class="page-item  border border-5 bg-primary "><a class="page-link text-white" href="/shop?page=<%=i%>">
                                        <%=i%>
                                    </a></li>
                               <% }else{ %>
                                <li class="page-item  border border-5 "><a class="page-link" href="/shop?page=<%=i%>">
                                    <%=i%>
                                </a></li>
                              <% }%>
                                
                                <% }%>



                                    <li class="page-item">
                                        <%if(pageNum==pages){%>

                                            <%}else{%>
                                                <a class="page-link" href="/shop?page=<%=parseInt(pageNum)+1%>"
                                                    aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                                <%}%>

                                    </li>
                        </ul>
                    </nav>

                </div><!-- End .products -->

                <div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
                <aside class="sidebar-shop sidebar-filter">
                    <div class="sidebar-filter-wrapper">
                        <div class="widget widget-clean">
                            <label><i class="icon-close"></i>Filters</label>

                        </div><!-- End .widget -->
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
                                    aria-controls="widget-1">
                                    Category
                                </a>
                            </h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-1">
                                <div class="widget-body">
                                    <div class="filter-items filter-items-count">
                                        <div class="filter-item">
                                            <form method="GET">
                                                <% category.forEach((cat,index)=>{%>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="cat-<%=index+1%>" name="category" value="<%=cat._id%>">
                                                        <label class="custom-control-label" for="cat-<%=index+1%>">
                                                            <%=cat.name%>
                                                        </label>
                                                    </div><!-- End .custom-checkbox -->
                                                    <% })%>



                                        </div><!-- End .filter-item -->







                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->



                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true"
                                    aria-controls="widget-4">
                                    Brand
                                </a>
                            </h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-4">
                                <div class="widget-body">
                                    <div class="filter-items">


                                        <div class="filter-item">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="Price1"
                                                    value="100-999" name="price">
                                                <label class="custom-control-label" for="Price1">₹100-₹999</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .filter-item -->

                                        <div class="filter-item">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="Price2"
                                                    value="1000-4999" name="price">
                                                <label class="custom-control-label" for="Price2">₹1000-₹4999</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .filter-item -->

                                        <div class="filter-item">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="Price3"
                                                    value="5000-7999" name="price">
                                                <label class="custom-control-label" for="Price3">₹5000-₹7999</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .filter-item -->


                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->
                        <button class="btn btn-primary">Filter</button>
                        </form>

                    </div><!-- End .sidebar-filter-wrapper -->
                </aside><!-- End .sidebar-filter -->
            </div><!-- End .container-fluid -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
    <script>
      
    </script>
    <%- include("../layouts/user/userFooter.ejs")-%>